.timerComponentContainer {
  display: flex;
  width: 80%;
  height: auto;
  flex-direction: column;
  padding-top: 2rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*Ended Timer Component*/
.endTimerComponentContainer {
  flex-direction: column;
  position: relative;
  padding: 1rem 0;
  box-sizing: border-box;
}

.timerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  border: 3px dashed #fe0303;
  border-radius: 16px;
  background-color: #ffffffb2;
  box-shadow: 0px 4px 14px 0px #00000040;
  box-sizing: border-box;
  max-width: 25rem;
}

.boxesImg {
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: -2.5rem;
  left: calc(50% - 2rem);
}

.timer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.timerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@container (--is-tablet: true) {
  .timerContent {
    gap: 2rem;
  }
}

.timerText {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff0000;
}

.timerNumber {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff0000;
}

.textBalloon {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: center;
  background-color: #ffffffb2;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin-bottom: -0.5rem;
  font-family: var(--font-uiyeun);
  font-weight: 400;
  color: #ea0000;

  &::after {
    content: "";
    border-top: 15px solid #ffffffb2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
  }
}

/*export const textBalloon = style({*/
/*  display: "block",*/
/*  position: "relative",*/
/*  width: "auto",*/
/*  height: "auto",*/
/*  fontSize: "1rem",*/
/*  textAlign: "center",*/
/*  backgroundColor: "#FFFFFFB2",*/
/*  borderRadius: "6px",*/
/*  padding: "0.5rem 1rem",*/
/*  boxSizing: "border-box",*/
/*  marginBottom: "-0.5rem",*/
/*  fontFamily: uiyeun,*/
/*  fontWeight: 400,*/
/*  color: "#EA0000",*/
/**/
/*  "::after": {*/
/*    content: '""',*/
/*    borderTop: "15px solid #FFFFFFB2",*/
/*    borderLeft: "10px solid transparent",*/
/*    borderRight: "10px solid transparent",*/
/*    borderBottom: "0 solid transparent",*/
/*    position: "absolute",*/
/*    bottom: "-15px",*/
/*    left: "calc(50% - 15px)",*/
/*  },*/
/*});*/
/**/

@keyframes boxesSclaeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*const boxesSclaeAnimation = keyframes({*/
/*  "0%": { transform: "scale(1)" },*/
/*  "50%": { transform: "scale(1.1)" },*/
/*  "100%": { transform: "scale(1)" },*/
/*});*/
/**/

.clickableBoxesImg {
  display: block;
  width: 7rem;
  height: auto;
  cursor: pointer;
  animation: boxesSclaeAnimation 2s infinite;
}

/*export const clickableBoxesImg = style({*/
/*  display: "block",*/
/*  width: "7rem",*/
/*  height: "auto",*/
/*  cursor: "pointer",*/
/*  animation: `${boxesSclaeAnimation} 2s infinite`,*/
/*});*/
/**/

.birthDayLogoContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  z-index: -100;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

/*export const birthdayLogoContainer = style({*/
/*  display: "flex",*/
/*  flexDirection: "column",*/
/*  padding: "1rem",*/
/*  paddingTop: "2rem",*/
/*  zIndex: -100,*/
/*  position: "relative",*/
/*  width: "100%",*/
/*  height: "auto",*/
/*  alignItems: "center",*/
/*  justifyContent: "center",*/
/*});*/
/**/

.birthdayLogoBoxImg {
  display: block;
  position: absolute;
  top: 0;
  width: 4rem;
  height: 4rem;
}

/*export const birthdayLogoBoxImg = style({*/
/*  display: "block",*/
/*  position: "absolute",*/
/*  top: 0,*/
/*  width: "4rem",*/
/*  height: "4rem",*/
/*});*/
/**/

.birthdayLogoBackground {
  display: flex;
}
/*export const birthdayLogoBackground = style({*/
/*  display: "flex",*/
/*});*/
/**/

.birthdayLogoText {
  display: block;
  position: absolute;
  z-index: 1;
  top: calc(50% - 0.625rem);
  font-family: var(--font-lotteria);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #ffffff;
  text-shadow:
    2px 2px 0 #f58989,
    -2px -2px 0 #f58989,
    2px -2px 0 #f58989,
    -2px 2px 0 #f58989;
}
/*export const birthdayLogoText = style({*/
/*  display: "block",*/
/*  position: "absolute",*/
/*  zIndex: 1,*/
/*  top: "calc(50% - 0.625rem)",*/
/*  fontFamily: lotteria,*/
/*  fontSize: "1.875rem",*/
/*  fontWeight: 400,*/
/*  lineHeight: "1.25rem",*/
/*  color: "#FFFFFF",*/
/*  textShadow:*/
/*    "2px 2px 0 #F58989, -2px -2px 0 #F58989, 2px -2px 0 #F58989, -2px 2px 0 #F58989",*/
/*});*/

.birthdayText {
  display: block;
  font-family: var(--font-uiyeun);
  font-weight: 400;
  font-size: 16px;
  color: #f58989;
}
